html {
    /*colors*/
    --clr-blue: hsl(223, 87%, 63%);
    --clr-pl-blue: hsl(223, 100%, 88%);
    --clr-li-red: hsl(354, 100%, 66%);
    --clr-gray: hsl(0, 0%, 59%);
    --clr-vry-blue: hsl(209, 33%, 12%);
}

*,*::before,*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

html,body,div,p,h1,button,input,i,form,strong,img {
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 100%;
    border: none;
    outline: none;
}


body {
    display: flex;
    text-align: center;
    min-height: 100vh;
}

img[src*=dashboard] {
    max-width: 39.4rem;
    margin-bottom: 6rem;
}

img[src*=logo] {
    width: 5.3rem;
    margin-bottom: 2.6rem;
}

.container {
    margin: auto;
}

.container__head {
    font-size: 3rem;
    font-weight: 300;
    color: var(--clr-gray);
    margin-bottom: 1rem;
}

.container__head strong {
    font-weight: 700;
    color: black;
}

.container__txt {
    font-size: 1.2rem;
    color: var(--clr-vry-blue);
    margin-bottom: 2.5rem;
}

input {
    outline: 1px solid var(--clr-pl-blue);
    width: 60%;
    transition: all 200ms ease-in-out;
}

input:focus {
    outline: .3rem solid var(--clr-pl-blue);
}

::placeholder {
    color: var(--clr-gray);
}

::-moz-placeholder {
    color: var(--clr-gray);
}

::-webkit-input-placeholder {
    color: var(--clr-gray);
}

input, button {
    font-size: 1rem;
    border-radius: 2rem;
}

input {
    padding: 1.2rem 1.3rem;   
}
button {
    margin-left: 1rem;
    background: var(--clr-blue);
    color: white;
    font-weight: 700;
    padding: 1.2rem 3.5rem;
    cursor: pointer;
}

button:hover, button:focus {
    opacity: 0.9;
}
form {
    margin-bottom: 4.9rem;
}

.container__logos {
    margin-bottom: 1rem;
}
.container__logos i {
    border-radius: 50%;
    font-size: .8rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.container__logos i:nth-child(2) {
    margin: 0 1.9rem;
}

.container__logos i:hover {
    color: var(--clr-blue);
    
}

footer {
    margin-top: 1.7rem;
}
footer p {
    font-size: .7rem;
    color: var(--clr-gray);
}

/*toggle classes*/
.error-input {
    outline: .1rem solid var(--clr-li-red);
}

@media screen and (max-width: 42em) {
    img[src*=logo] {
        width: 4rem;
    }

    .container__head {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
    }

    .container__txt {
        font-size: .98rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button , input{
        width: 80%;
        font-size: .9rem;
        padding: 1rem 1.8rem;  
    }

    button {
        background: var(--clr-blue);
        margin-left: 0;
    }

    input {
        outline: 1px solid var(--clr-pl-blue);
        margin-bottom: 1rem;
    }
    
    img[src*=dashboard] {
        max-width: 100%;
    }

    .container__logos i {
        font-size: 1.2rem;
    }

    footer p {
        font-size: .8rem;
    }
}


@media screen and (max-width: 19rem) {
    .container__head {
        font-size: 1.3rem;
    }
}

@media screen and (max-height: 56.5333em) {
    .container {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}